<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        .image{
            background-image:url(http://wallpaperlepi.com/wp-content/uploads/2015/05/Ocean-Best-Landscape-HD-Background.jpg)
        }
    </style>
</head>
<body>
    <div>
        <header id="scroll" class="image">
                <nav>
                    <img style="width:50px; border-radius:50%"src="https://ih1.redbubble.net/image.214666013.2675/flat,800x800,070,f.u1.jpg" alt=""><h1><a style="margin-left:2em; margin-right:2em" href="/">Hi there:)</a></h1>
                    <h1><a href="#">Destinations</a></h1>
                    <h1><a href="/subscribe">Subscribe</a></h1>
                </nav>
        </header>
        <div class="content">
            <div id="main" class="hover">
                    <h2>So much possibility, (endless to be exact..)</h2>
                    <p>
                        Whether it's that time when you just feel you need a break, or you're
                        searching for some Adventure! Wanting to taste the diverse flavours of our vast and beautiful Planet:
                        Taking a vacation is perhaps the best option for you AND your Family,
                        after all .. What's better than your OHANA? OH-NADA..
                        For those of us who would love to go overseas and experience these incredible places, 
                        but aren't really sure of where to go first:
                    </p>
                    <p><b>Take a look at our TOP3 highest voted vaccation spots for 2018</b></p>
                </div>
                <div class="hover">
                    <h2>Up First? The Vast and Beautiful beaches of Thailand</h2>
                    <p>
                        First of, it's Thailand. If the beauty of the nature in your surroundings
                        doesn't attract you and fill you with Happiness in every facet of your being?
                        Then maybe you're like me? And the rich history and energy of the origin of one of the worlds
                        greatest (and deadliest) fighting styles will bring you to your spiritual knees and fill
                        you with ALL kinds of happy-facet-ness:)
                    </p>
                </div>
                <div class="background">
                    <img class="mySlides" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BTrHt7uCiu335hjs/videoblocks-beautiful-tropical-landscape-sea-view-at-similan-islands-aerial-hd-slowmotion-phang-nga-province-thailand_blgxtusrqx_thumbnail-full01.png">
                    <img class="mySlides" src="https://wallpapercave.com/wp/T3c87mH.jpg" alt="">
                    <img class="mySlides" src="https://wallpapercave.com/wp/JsW2QFm.jpg" alt="">
                    <img class="mySlides" src="https://wallpapercave.com/wp/UlrsO5O.jpg" alt="">
                    <img class="mySlides" src="https://wallpapercave.com/wp/Oj0xi0X.jpg" alt="">
                    <img class="mySlides" src="https://wallpapercave.com/wp/2Az2TAY.jpg" alt="">
                    <!-- <p><a href="/desti-thailand">Click here for a full article on Thailand<a></p> -->
                </div>
                <div class="hover">
                    <h2>You say "Tomatoe" I say Tahiti!</h2>
                    <p>
                        Speaking of incredible islands.. Here we have another Effortlessly Elegant Island
                        by the name of "Tahiti".   
                        This beautiful floating paradise is perfect for getting away from your everyday troubles
                        and if you won't take my word for it? Maybe the ocean, and it's inhabitants will convince you..
                        Have a look at our little Slideshow that i've put together:)
                    </p>
                </div>
                <div class="background">
                    <img class="mySlides2" src="http://4.bp.blogspot.com/-GfdqoXybwRk/U19__WEjozI/AAAAAAAACOs/WC0bZn9O77c/s1600/Best+Romantic+Beach+%E2%80%93+Matira+Beach,+Bora+Bora,+Tahiti+(1).jpg" alt="">
                    <img class="mySlides2" src="https://www.seal-superyachts.com/wp-content/uploads/2017/04/Sharks-in-Tahiti.jpg" alt="">
                    <img class="mySlides2" src="https://i.ytimg.com/vi/VpSWLzVZeDE/maxresdefault.jpg" alt="">
                    <img class="mySlides2" src="https://cdn.allwallpaper.in/wallpapers/2400x1350/10999/hotel-beach-at-tahiti-2400x1350-wallpaper.jpg" alt="">
                    <img class="mySlides2" src="https://proenti.com/news/wp-content/uploads/2018/05/1388180574509_st-regis-resort-bora-bora-tahiti-french-polynesia-water-villas-bungalows-desktop-background-338860-1.jpg" alt="">
                    <button onclick="plusDivs(-1)">&#10094;</button>
                    <button onclick="plusDivs(1)">&#10095;</button>
                    <!-- <img class="mySlides2" src="" alt=""> -->
                </div>
                <div class="hover text">
                        <h2>And finally the Gorgeous Caribbean island of St Lucia</h2>
                        <p>
                            To be fair, yes there are a number of individual islands on the Caribbean, though
                            St Lucia is one which contains a little bit of everything. It offers a little something
                            for the beach-goers all the way up to the adventurers, and if that's not enough?
                            It has by far the best view in the Caribbean and a fanatical hotel location:)
                        </p>
                </div>
                <div class="image-box row">
                    <img class="mySlides3" src="https://www.telegraph.co.uk/content/dam/Travel/2017/December/st-lucia-1-GETTY.jpg?imwidth=1400" alt="">
                    <img class="mySlides3" src="https://www.telegraph.co.uk/content/dam/Travel/2017/December/st-lucia-2b.JPG?imwidth=1240" alt="">
                    <img class="mySlides3" src="https://www.telegraph.co.uk/content/dam/Travel/2017/December/st-lucia-2.JPG?imwidth=1240" alt="">
                    <img class="mySlides3" src="https://www.visualitineraries.com/img/locations/Royalton-St-Lucia-40779.jpg" alt="">
                    <img class="mySlides3" src="https://www.stlucianewsonline.com/wp-content/uploads/2016/07/saint-lucia-01.jpg" alt="">
                    <img class="mySlides3" src="https://www.pandotrip.com/wp-content/uploads/2016/03/Saint-Lucia.jpg" alt="">
                </div>
                    <a style="border:#0d6f8f 1em solid; border-radius:15px" id="scroll" href="#scroll">🔝</a>
                
                <footer>© 2018 Destination | the Destination of your Dreams</footer>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
<script>
    var myIndex = 0;
    carousel();
//first slider (automatic)
function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
}

//second slider (manual)
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides2");
    if (n > x.length) {slideIndex = 1} 
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
    }
    x[slideIndex-1].style.display = "block"; 
}

  $(document).ready(function(){
      //the native smooth scroll
      document.querySelectorAll('a[href^="#scroll"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();
          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });
  });

</script>
</body>
</html>

