<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        .image{
            background-image:url(http://wallpaperlepi.com/wp-content/uploads/2015/05/Ocean-Best-Landscape-HD-Background.jpg)
        }
    </style>
</head>
<body>
    <div>
        <header id="scroll" class="image">
                <nav>
                    <img style="width:50px; border-radius:50%"src="https://ih1.redbubble.net/image.214666013.2675/flat,800x800,070,f.u1.jpg" alt=""><h1><a style="margin-left:2em; margin-right:2em" href="/">Hi there:)</a></h1>
                    <h1><a style="margin-left:2em; margin-right:2em" href="/destination">Destinations</a></h1>
                    <h1><a style="margin-left:2em; margin-right:2em" href="/subscribe">Subscribe</a></h1>
                </nav>
        </header>
        <div class="content">
                    <div class="hover">
                        <h2>Up First? The Vast and Beautiful beaches of Thailand</h2>
                        <p>
                            First of, it's Thailand. If the beauty of the nature in your surroundings
                            doesn't attract you and fill you with Happiness in every facet of your being?
                            Then maybe you're like me? And the rich history and energy of the origin of one of the worlds
                            greatest (and deadliest) fighting styles will bring you to your spiritual knees and fill
                            you with ALL kinds of happy-facet-ness:)
                        </p>
                    </div>
                    <div class="background">
                        <img class="mySlides" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BTrHt7uCiu335hjs/videoblocks-beautiful-tropical-landscape-sea-view-at-similan-islands-aerial-hd-slowmotion-phang-nga-province-thailand_blgxtusrqx_thumbnail-full01.png">
                        <img class="mySlides" src="https://wallpapercave.com/wp/T3c87mH.jpg" alt="">
                        <img class="mySlides" src="https://wallpapercave.com/wp/JsW2QFm.jpg" alt="">
                        <img class="mySlides" src="https://wallpapercave.com/wp/UlrsO5O.jpg" alt="">
                        <img class="mySlides" src="https://wallpapercave.com/wp/Oj0xi0X.jpg" alt="">
                        <img class="mySlides" src="https://wallpapercave.com/wp/2Az2TAY.jpg" alt="">
                    </div>
                    <a style="height:2em;border:#0d6f8f 1em solid; border-radius:15px" id="scroll" href="#scroll">🔝</a>
                    <footer>© 2018 Destination | the Destination of your Dreams</footer>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
<script>
  $(document).ready(function(){
      //the native smooth scroll
      document.querySelectorAll('a[href^="#scroll"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();
          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });
  });

</script>
</body>
</html>