<!this is where the posts/uploads go>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        body{
            /* background-image: url(http://museumplanetarium.org/wp-content/uploads/2017/01/surfside-sea-shells.jpg) */
            background-image: url(https://github.com/AshLaw1137/myImages/blob/master/darkWall.jpg?raw=true);
        }
        header{
            /* background-image:url(https://images.unsplash.com/photo-1491146179969-d674118945ff?ixlib=rb-0.3.5&s=e32a98fc5333c552e4b6ea8e5b48866e&auto=format&fit=crop&w=1189&q=80); */
        }
    </style>
</head>
<body>
        <header id="scroll" class="nav2">
            <nav>
                <img style="width:50px; border-radius:50%"src="https://ih1.redbubble.net/image.214666013.2675/flat,800x800,070,f.u1.jpg" alt=""><h1><a style="margin-left:2em; margin-right:2em" href="http://travel-travel-dest.7e14.starter-us-west-2.openshiftapps.com/">Hi there:)</a></h1>
                <h1><a href="http://travel-travel-dest.7e14.starter-us-west-2.openshiftapps.com/destination">Destinations</a></h1>
                <h1><a href="http://travel-travel-dest.7e14.starter-us-west-2.openshiftapps.com/subscribe">Subscribe</a></h1></li>
                <li><h1><a href="http://travel-travel-dest.7e14.starter-us-west-2.openshiftapps.com/upload">Upload</a></h1></li>
                <li><h1><a href="http://travel-travel-dest.7e14.starter-us-west-2.openshiftapps.com/display">Display</a></h1></li>
            </nav>
        </header>
        <div class="divide">
            <div id="load">
                <h2>This is where the mother posts go</h2>
                <img style="width:20em; height:auto; border-radius:20%" src="https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjExMjU4fQ&s=bc61c1acd24ffdb47b4ef5e0a473f52b&auto=format&fit=crop&w=1427&q=80">
                <h4>thisisme@gmail.com</h4>
                <h3>"It's all just vibrations"</h3>
            </div>
            
            <footer>© 2018 Destination | the Destination of your Dreams</footer>
        </div>
</body>
</html>
